*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;

}
.ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    border: none;
    background: none;
}
img{
    background-repeat: no-repeat;

}