* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

img {
  background-repeat: no-repeat;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

.body {
  background: #00100f;
}

.header-top {
  background: #004643;
}
.header-top .phone-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-top .phone-social a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-right: 48px;
}
.header-top .phone-social a:last-child {
  margin-right: 0;
}
.header-top .phone-social .social {
  display: flex;
  margin: 11px 0;
}
.header-top .phone-social .social li {
  margin-right: 30px;
  width: 17px;
  height: 17px;
}
.header-top .phone-social .social li a {
  text-decoration: none;
}
.header-top .phone-social .social li a a:last-child {
  margin-right: 100px;
}
.header-top .phone-social .social li:last-child {
  margin-right: 0;
}

.header-bottom {
  background: #000908;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05);
  padding: 19px 0;
}
.header-bottom .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-bottom .navigation a img {
  margin-right: 59px;
}
.header-bottom .navigation__menu {
  display: flex;
}
.header-bottom .navigation__menu li {
  margin-right: 42px;
}
.header-bottom .navigation__menu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
.header-bottom .navigation__menu li:last-child {
  margin-right: 0;
}

.banner {
  background-image: url("../img/png/bodybulder.png");
  background-repeat: no-repeat;
  padding-top: 277px;
  padding-bottom: 26px;
  background-size: 1865px;
  height: 637px;
  z-index: 0;
}
.banner img {
  width: 100%;
  position: absolute;
  bottom: -107px;
}
.banner__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__box .banner-text h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 54px;
  color: #fff;
  max-width: 551px;
  line-height: 144.8148148148%;
  z-index: 2;
}
.banner__box .banner-text h1 span {
  color: #33b0aa;
}
.banner__box .banner-text ul {
  margin-bottom: 47px;
}
.banner__box .banner-text ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  margin-bottom: 16px;
  padding-left: 12px;
  border-left: 2PX solid #28b0a9;
}
.banner__box .banner-text ul li:last-child {
  margin-bottom: 0;
}
.banner__box .banner-text button {
  background: #323d3c;
  padding: 16px 30px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  margin-right: 30px;
}
.banner__box .banner-info .banner__item {
  border-radius: 24px;
  width: 162px;
  height: 129px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.banner__box .banner-info .banner__item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 142%;
  color: #fff;
}
.banner__box .banner-info .banner__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 142%;
  text-align: center;
  color: #fff;
  margin-top: 6px;
}
.banner__box .banner-info .banner__item:last-child {
  margin-bottom: 0;
}

.svg1 {
  position: absolute;
  top: 123px;
  left: 0;
  z-index: 1;
}

.svg2 {
  position: absolute;
  bottom: 312px;
  right: 188px;
  z-index: 1;
}

.sale {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/png/MSMC_Wood_Illustration\ 1.png);
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}
.sale h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin-bottom: 29px;
}
.sale .tab {
  display: flex;
}
.sale .tab .tab-item {
  border-radius: 12px;
  padding: 10px 14px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 41px;
}
.sale .tab .tab-item:last-child {
  margin-right: 0;
}
.sale .tab .tab-active {
  border: 1px solid #fff;
  border-radius: 12px;
  background: transparent;
}
.sale .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sale .slider .slider-box {
  display: flex;
  justify-content: space-between;
}
.sale .slider .slider-item a img {
  border-radius: 12px;
  width: 340px;
  height: 340px;
  margin-right: 30px;
}
.sale .slider .slider-pagination {
  display: flex;
  margin-top: 30px;
}
.sale .slider .slider-pagination li {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 0.2;
  border-radius: 100%;
  justify-content: center;
  margin-right: 10px;
}
.sale .slider .slider-pagination li:last-child {
  margin-right: 0;
}
.sale .slider .slider-pagination .active {
  opacity: 1;
}
.sale .slider .slider-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.sale .slider .slider-button button:first-child {
  position: absolute;
  left: -90px;
}
.sale .slider .slider-button button:last-child {
  position: absolute;
  right: -70px;
}

.news {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
}
.news h2 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin-bottom: 29px;
}
.news h2 span {
  color: #33B0AA;
}
.news .tab {
  display: flex;
}
.news .tab .tab-item {
  border-radius: 12px;
  padding: 10px 14px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 41px;
}
.news .tab .tab-item:last-child {
  margin-right: 0;
}
.news .tab .tab-active {
  border: 1px solid #fff;
  border-radius: 12px;
  background: transparent;
}
.news .slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.news .slider .slider-box {
  display: flex;
  justify-content: space-between;
}
.news .slider .slider-item a img {
  border-radius: 12px;
  width: 248px;
  height: 248px;
  margin-right: 30px;
}
.news .slider .slider-item h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 248px;
}
.news .slider .slider-item h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  max-width: 251px;
}
.news .slider .slider-pagination {
  display: flex;
  margin-top: 30px;
}
.news .slider .slider-pagination li {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 0.2;
  border-radius: 100%;
  justify-content: center;
  margin-right: 10px;
}
.news .slider .slider-pagination li:last-child {
  margin-right: 0;
}
.news .slider .slider-pagination .active {
  opacity: 1;
}
.news .slider .slider-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.news .slider .slider-button button:first-child {
  position: absolute;
  left: -90px;
}
.news .slider .slider-button button:last-child {
  position: absolute;
  right: -70px;
}

.list {
  background-color: red;
  padding: 120px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.list .container .title {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin-bottom: 30px;
}
.list .container .tab {
  display: flex;
}
.list .container .tab .tab-item {
  border-radius: 12px;
  padding: 10px 10px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 41px;
}
.list .container .tab .tab-item:last-child {
  margin-right: 0;
}
.list .container .tab .tab-active {
  border: 1px solid #fff;
  border-radius: 12px;
  background: transparent;
}
.list .container .slider__list .slider-box__list {
  display: flex;
  flex-direction: column;
}
.list .container .slider__list .slider-box__list .slider-item__list .coach {
  width: 248px;
  height: 350px;
  position: relative;
}
.list .container .slider__list .slider-box__list .slider-item__list .coach img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 24px;
}
.list .container .slider__list .slider-box__list .slider-item__list .coach__info {
  position: absolute;
  bottom: -4px;
}
.list .container .slider__list .slider-box__list .slider-item__list .coach__info h3 {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #33b0aa;
  margin-bottom: 6px;
  position: absolute;
  z-index: 9999;
  bottom: 66px;
  left: 20px;
}
.list .container .slider__list .slider-box__list .slider-item__list .coach__info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  z-index: 9999;
  max-width: 208px;
  left: 20px;
  bottom: 20px;
}
.list .container .slider-pagination {
  display: flex;
  margin-top: 30px;
}
.list .container .slider-pagination li {
  width: 14px;
  height: 14px;
  background: #fff;
  opacity: 0.2;
  border-radius: 100%;
  justify-content: center;
  margin-right: 10px;
}
.list .container .slider-pagination li:last-child {
  margin-right: 0;
}
.list .container .slider-pagination .active {
  opacity: 1;
}
.list .container .slider-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
.list .container .slider-button button:first-child {
  position: absolute;
  left: -90px;
}
.list .container .slider-button button:last-child {
  position: absolute;
  right: -70px;
}/*# sourceMappingURL=style.css.map */